 <div class="user-details">
  <h1> Who We Are </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code for DC</h2>
      <img src="https://codefordc.org/images/logo_500px.png" width="50%" height="auto">
      <p>Cryptoparty is a learning group part of [Code for DC](https://codefordc.org). We invite members of our community, regardless of technical
      background, who are interested in digital security.</p>
    </div>
    <div class="tech">
      <h2>Unite</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>We get people together who are interested in digital security.</p>
    </div>
    <div class="tech">
      <h2>Empower</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>The Internet is everyone's space and we have a right to our own privacy.</p>
    </div>
</div>
