 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Educate</h2>
      <i class="devicon-ruby-original colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>It's a learning group.</p>
    </div>
    <div class="tech">
      <h2>Unite</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>We get people together who are interested in digital security.</p>
    </div>
    <div class="tech">
      <h2>Empower</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>The Internet is everyone's space and we have a right to our own privacy.</p>
    </div>
</div>
