 <div class="user-details">
  <h1> Who We Are </h1>
  <p> {{site.user_description}} To attend, <a href="https://www.meetup.com/code-for-dc/">simply RSVP</a> to Code for DC on Meetup. All participants are expected to uphold our <a href="https://codefordc.org/resources/codeofconduct.html">Code of Conduct</a>.</p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Cryptoparty</h2>
      <img src="https://pbs.twimg.com/profile_images/2581500700/fss3vimiglkkq4a5hal4.gif" width="auto" height="129px">
      <p>Inspired by the global <a href="https://cryptoparty.in">Cryptoparty</a> movement. We believe privacy is a fundamental human right. It is a
      socially constructed concept that varies between users. We focus on the tools of digital security and leave attendees to define their own best
      practices.</p>
    </div>
    <div class="tech">
      <h2>Code for DC</h2>
      <img src="https://codefordc.org/images/logo_500px.png" width="250px" height="129px">
      <p>Cryptoparty is a learning group part of <a href="https://codefordc.org">Code for DC</a>, a Code for America Brigade in Washington, DC.
        We invite all, regardless of technical background, who are interested in learning about and practicing strong digital security.</p>
    </div>
    <div class="tech">
      <h2>Empower</h2>
      <img src="https://upload.wikimedia.org/wikipedia/commons/f/fc/Clipper_fist.gif" width="auto" height="129px">
      <p>Each event is facilitated by a member of our community. Topics are selected based on group interest and are intended
      to serve both the beginner and veteran cryptographer. Get in touch with us on <a href="https://codefordc.org/resources/slack.html">Slack</a>
      or via <a href="mailto:csethna@gmail.com?subject=Cryptoparty%20DC%20inquiry">email</a> if you're interested in facilitating a session or
      have questions.</p>
    </div>
</div>
