<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="RSVP on Meetup" href="https://www.meetup.com/Code-for-DC/"><i class="icon fa fa-meetup"></i></a>
        <a aria-label="Twitter" target="_blank" href="#"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="Join us on Slack" target="_blank" href="https://codefordc.org/resources/slack.html"><i class="icon fa fa-slack" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/cryptopartydc"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Us</a>
        <a class="link" href="#projects" data-scroll>Events</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
